[Unit]
Description=Slackbot for interacting with a unit in systemd.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/make -C "{{ path }}" run
Restart=always
User={{ user }}

[Install]
WantedBy=multi-user.target

